/* -------------------------------------------- */
/* ---------------ui_portfolio----------------- */
/* -------------------------------------------- */
@font-face {
  font-family: 'Avara';
  src: url('./assets/fonts/Avara-black.ttf') format('truetype');
  font-weight: black;
  font-style: normal;
}

body {
  font-family: 'Avara', sans-serif;
}

.paragraph-transition{
        font-weight:500;
        font-size:170px;
        color: transparent;
        text-decoration: none;
        transition: 10s;
        transition-timing-function: ease;
        margin: 0px;
        padding-left: 30px;
      }

.paragraph-transition:hover{
        color: black;
        text-decoration: none;
      }

.paragraph-transition-red{
        font-weight:500;
        font-size:170px;
        color: transparent;
        text-decoration: none;
        transition: 10s;
        transition-timing-function: ease;
        margin: 0px;
        padding-left: 30px;
      }

.paragraph-transition-red:hover{
        color: red;
        text-decoration: none;
      }

.clip   {
        font-weight:700;
        font-size:30px;
        opacity: 100%;
        color: black;
        display: inline-block;
        padding-top:30px;
        padding-left:30px;
        text-decoration: none;
        transition: none;
        transition-timing-function: none;
        }

.clip:link{
    color: black;
    background: none;
}

.clip:hover{
    color: red;
    background: none;
    transition: 2s;
    transition-timing-function: ease;
}

.clip:active{
    color: black;
    background: none;
}

.clip:visited{
    color: black;
    background: #ffffff;
}

.clip:visited:hover{
    color: black;
    background: #ffffff;
}

.clip:visited:active{
    transition: 0s;
    color: black;
    background: none;
}


.radial-gradient {
  overflow-y: scroll;
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;

  /*Fallback if gradeints don't work */
  background: transparent;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, black, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);  
      filter: contrast(370%) brightness(300%);
}

/* -------------------------------------------- */
/* ------------visual analysis----------------- */
/* -------------------------------------------- */

.radial-gradient-dark {
  overflow-y: scroll;
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  
  /*Fallback if gradeints don't work */
  background: white;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, transparent, black
    );
}

.dark{
    font-weight:400;
    font-size:40px;
    color: black;
    text-decoration: none;
    text-align: left;
    transition: 7s;
    transition-timing-function: ease-in;
      }

.dark:hover{
        color: white;
        text-decoration: none;
      }

h2{
  position: relative;
  z-index: 1;
  color: red;
  margin-top: 100vh;
  padding: 40px;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
}

h3{
    color: black;
    font-weight:700;
    font-size:50px;
    transition: 3s;
    text-align: left;
    transition-timing-function: ease-in;
}

h3:hover{
        color: white;
        text-decoration: black;
      }
h4{
    margin: none;
    color: black;
    font-weight:700;
    font-size:40px;
    transition: 3s;
    transition-timing-function: ease-in;
    text-align: left;
}

h4:hover{
        color: white;
        text-decoration: none;
      }

h5{
    margin: none;
    color: black;
    margin-top: 0px;
    font-weight:500;
    font-size:20px;
    transition: 7s;
    transition-timing-function: ease-in;
    text-align: left;
}

h5:hover{
        color: white;
        text-decoration: none;
      }

/* -------------------------------------------- */
/* ---------------font awesome----------------- */
/* -------------------------------------------- */

.icon-hand-left{
    color: black;
    transition: 3s;
    transition-timing-function: ease-in;
    text-decoration: none;
}

.icon-hand-left:hover{
        color: #ffffff;
        text-decoration: none;
      }

/* --------------------------------------------------------- */
/* ---------------revisit_graphic_reference----------------- */
/* --------------------------------------------------------- */

.img{
    max-width: 100%;
    height: auto;
}

.color {
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
  font-size:30px;
  color: black; 
  display: inline-block;
  padding: 50px;
  margin:20px;
}

@font-face {
        font-family: "segoeUi";
        src: url("../assets/fonts/segoeui.tff");
        }

@font-face {
        font-family: "segoeUib";
        src: url("../assets/fonts/segoeuib.ttf");
        }

.segoeUi {
        font-family: "segoeUi";
        font-weight:500;
        font-size:40px;
        }

.segoeUib {
        font-family: "segoeUib";
        font-weight:500;
        font-size:50px;
        }

.text-palette {
  display: inline-block;
  font-size:30px;
  padding: 30px;
  margin: 20px;
}

.anima{
    width: 15%;
    height: auto;
}


/* --------------------------------------------------------- */
/* --------------------final project------------------------ */
/* --------------------------------------------------------- */

.insp{
    width: 25%;
    height: auto;
}

.img-medium{
    width: 45%;
    height: auto;
}

@font-face {
        font-family: "chronotrigger";
        src: url("../assets/fonts/chronotrigger.ttf");
        }

.chronotrigger {
        font-family: 'chronotrigger' Fallback, sans-serif;
        font-weight:500;
        font-size:40px;
        }


